/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */

  font-family: var(--page-font-family, "IBM Plex mono", monospace);
  color: var(--text-color, #f1b2ce);
  font-size: 18px;
  line-height: 130%;

  background-color: var(--background-color, #000028);

  background-image: var(--background-image, url(../images/cover-image.png));
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  display: grid;
  padding: var(--padding);
  min-block-size: 100vb;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--decorated-zone);
  border-block-start: 1px solid var(--decorated-zone);
  /* inset-inline-end: 10px;
  inset-block-start: 10px; */
  inset-inline-end: var(--padding);
  inset-block-start: var(--padding);
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--decorated-zone);
  border-block-end: 1px solid var(--decorated-zone);
  /* inset-inline-start: 10px;
  inset-block-end: 10px; */
  inset-inline-start: var(--padding);
  inset-block-end: var(--padding);
}

.rec {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  inset-inline-end: clamp(1.1875rem, 0.5911rem + 2.5445vw, 1.8125rem);
  inset-block-start: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.rec::before {
  content: "REC";
  line-height: 139%;
  color: var(--accent-color, #ff0070);
}

.rec::after {
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  background: var(--accent-color, #ff0070);
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  border-radius: 100%;
}

.header__theme-menu {
  justify-self: end;
  margin-block: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 0 13px 5px;
  color: var(--decorated-zone, #ff0070);
  background: inherit;
  font-weight: 400;
  line-height: 100%;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--decorated-zone-hover, rgb(255 0 112 / 0.4));
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.header__title,
.footer__title {
  color: var(--heading-color, #db00ff);
  font-family: inherit;
  font-size: var(--font-size-mobile);
  font-weight: 700;
  line-height: 83%;
}

.shadow-decor {
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.header__description {
  margin-block: 55px;
  block-size: min-content;
}

.title-accent {
  background-color: var(--accent-color, #ff0070);
  color: var(--text-title, #000028);
  font-weight: 700;
  line-height: inherit;
  font-size: inherit;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px 10px;
}

.main__section {
  display: grid;
  gap: 20px;
}

.main__section-title {
  color: var(--text-heading, #ff0070);
  font-size: inherit;
}

.main__section-article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color, #ff0070);
}

.text-link:hover {
  border-block-end: 1px solid var(--text-color, #f1b2ce);
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid var(--text-color, #f1b2ce);
}

.normal {
  font-weight: 400;
}

.collection {
  gap: 10px;
}

.main__section.collection {
  grid-template-rows: auto 142px 355px 237px 355px 237px;
}

.collection-image {
  inline-size: 100%;
  block-size: 100%;
}

.collection-image-item {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 100vb;
  padding: 40px 10px 10px;
}

.footer__title {
  margin-block-end: 20px;
}

@media (width >= 768px) {

  .header__theme-menu {
    margin-block: 182px;
    /* margin-inline-end: 10px; */
  }

  .header__title {
    font-size: var(--font-size-desktop);
    margin-inline-start: -10px;
    margin-block-start: -10px;
  }

  .footer__title {
    font-size: var(--font-size-desktop);
  }

  .header__description {
    justify-self: end;
    inline-size: 364px;
    margin-inline-end: 10px;
    margin-block: 152px 173px;
  }

  .rec {
    visibility: var(--rec-visibility, visible);
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .text-link {
    text-decoration: none;
    text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }

  .main__section {
    grid-template-columns: 236px 1fr 1fr;
  }

  .why .main__section-article,
  .how .main__section-article {
    grid-column: 2/4;
  }

  .what .main__section-article {
    grid-column: span 3;
  }

  .how .main__section-subtitle {
    grid-column: span 2;
  }

  .how .main__section-title {
    grid-row: span 2;
  }

  .collection {
    gap: 20px;
  }

  .collection .main__section-subtitle {
    grid-column: span 3;
  }

  .main__section.collection {
    grid-template-rows: auto 192px 230px 318px;
  }

  .collection-image:nth-of-type(1),
  .collection-image:nth-of-type(5) {
    grid-column: span 2;
  }

  .collection-image:nth-of-type(2),
  .collection-image:nth-of-type(3) {
    grid-row: span 2;
  }
}

@media (width >= 1024px) {

  .header__theme-menu {
    justify-self: center;
    margin-block-start: 10px;
    margin-inline-end: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__description {
    inline-size: 491px;
    margin-block: 50px 60px;
  }

  .header__title {
    margin-block-start: 30px;
  }

  .title-decor {
    text-shadow: 4px 4px 0 var(--desktop-title-decor, #ff0070);
  }

  .main__section {
    grid-template-columns: repeat(3, 1fr);
  }

  .what .main__section-article {
    grid-column: span 1;
    grid-row: 2/3;
  }

  .main__section.collection {
    grid-template-rows: auto 260px 315px 428px;
  }
}
